.App {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 85%;
}

.Title {
  display:flex;
  padding-left: 20px;
  background-color: cornflowerblue;
  color: white;
}

.Chatroom {
  margin: 0 auto;
}

.messagesList {
  box-sizing: border-box;
  padding: 0 20px;
  margin: 10px 0 0;
  height: 80vh;
  overflow-y: scroll;
  background-color: aliceblue;
}

.message {
 position: relative;
  padding: 5px 13px;
  font-size: 14px;
  list-style: none;
  float: left;
  clear: both;
  margin: 10px 0;
  display: flex;
  /* align-items: center;  */
}

.msg-sender {
  color: grey;
  font-size: 12px;
}

.msg-content {
  background: rgb(104, 212, 77, 0.8);
  padding: 5px 13px;
  border-radius: 10px;
  margin: 10px 0;
  margin-left: 10px;
  max-width: 200px;
}

.message img {
  width: 25px;
}

.message.right {
  float: right;
  clear: both;
}

.message.right .msg-content {
  background-color: rgba(233, 229, 229, 0.8)
}

.message.right :first-child{
  order: 2;
  margin-left: 10px;
}

.SendMessageForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 5px;
}

.SendMessageForm input {
  width: 95%;
  height: 25px;
}

.SendMessageForm button {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 15px;
}