.App {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 55%;
  min-width: 200px;
  
}

.Title {
  display:flex;
  padding-left: 20px;
  background-color: #3ba1ee;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.Chatroom {
  margin: 0 auto;
}

.MessagesList-container{
  overflow-y: scroll;
  height: 80vh;
  margin: 10px 0 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.messagesList {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 10px;
  height: auto;
  min-height: 80vh;
}

.message {
  position: relative;
  padding: 0 10px;
  font-size: 14px;
  list-style: none;
  float: left;
  clear: both;
  margin: 10px 0;
  display: flex;
}

.msg-sender {
  color: grey;
  font-size: 12px;
  max-width: 60px;
  text-align: center;
}

.msg-content {
  background: #3ba1ee;
  color: white;
  padding: 5px 13px;
  border-radius: 10px;
  margin: 10px 0;
  margin-left: 10px;
  max-width: 200px;
  height: max-content;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  word-break: break-word;
}

.message img {
  padding: 10px 0;
}

.message.right {
  margin-left: auto;
  clear: both;
}

.message.right .msg-content {
  color: black;
  background-color: #e6e6e6;
}

.message.right :first-child{
  order: 2;
  margin-left: 10px;
}

.SendMessageForm {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 15px 5px;
  background-color: #3ba1ee;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.SendMessageForm input {
  width: 95%;
  height: 25px;
  
}

.SendMessageForm button {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-left: 10px;
  cursor: pointer;
  /* margin-right: 15px; */
}