.LogInForm{
  position: absolute;
  padding: 30px 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 15px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  left:30%;
  right: 30%; 
  top: 30%;
  color: #2f80be;
  min-width: 200px;
}

.username-input {
  font-size: 38px;
  width: 85%;
  padding: 10px 10px;
  border-color: #3ba1ee;
  text-align: center;
  border-radius: 5px;
}

.username-input:focus::placeholder {
	color: lightgrey;
}

.logIn-btn{
  color: white;
  font-size: 32px;
  padding: 5px 20px;
  margin-top: 30px;
  background-color: #3ba1ee;
  border-color: #62b3f1;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  cursor: pointer;
}

.logIn-btn:hover{
  background-color: #4eaaef;
}