body {
  font: 14px "Montserrat";
  color: #8c8c8c;
  line-height: 28px;
}

button {
  text-transform: uppercase;
  width: 168px;
  height: 50px;
  font: 14px "Raleway";
  font-weight: 800;
  color: white;
  background-color: #988574;
  border: 0 none #726257;
  border-bottom: 2px solid #726257;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit;
}

small {
  color:#363636;
}

h1 {
  color: #555555;
  font-size: 30px;
  font-family: "Raleway";
  font-weight: 600;
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
}

span {
  color: #b5a38e;
}

.title-box {
  width: 780px;
  text-align: center;
  margin: auto;
  font: 16px "Montserrat";
  font-weight: 300;
  line-height: 28px;
}

.title-box h1 {
  font: 30px "Raleway";
  font-weight: 700;
  color: #555555;
}

.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  opacity: 89%;
}

header {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 99;
}

.header-container{
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 { 
  font-size: 34px;
  font-weight: normal;
  color: white;
}

.header-navigation ul{
  display: flex;
  color: white;
  font-family: "Montserrat";
  margin-left: 150px;
}

.header-navigation li{
  margin-left:20px;
  cursor: pointer;
  transition: 0.3s;
}

.header-navigation li:hover{
  color: #c7b299;
}

.header-buttons{
  margin-left: 30px;
}

.header-buttons > a {
  margin-left: 20px;
}

/****BANNER****/

.banner {
  height: 1025px;
  background: #555555 url("../img/photo.png") no-repeat center top;
}

.banner-container {
  position: relative;
  padding-top: 380px;
  display: flex;
  justify-content: center;
  color: white;
  line-height: 16px;
}

.banner-container-arrows {
  position: absolute;
  display: flex;
  padding: 135px;
  width: 80%;
  justify-content: space-between;
}

.banner-slogan {
  max-width: 590px;
  min-width: 590px;
  text-align: center;
}

.banner-slogan h1 {
  color: white;
  font-size: 52px;
  font-weight: 800;
}

.banner-slogan h2 {
  font-size: 36px;
  font-weight: 500;
}

.banner-slogan p {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.banner-container button {
  margin-top: 58px; 
}

.dots {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -280px;
}

.dots img {
  margin-left: 10px;
}

/*****SERVICES-SECTION*****/

#services {
  min-height: 370px;
}

.services-container {
  display: flex;
  align-items: center;
  padding: 80px 0;
}

.services-item {
  text-align: center;
  margin-left: 20px;
  width: 300px;
  transition: 0.5s;
  line-height: 1.7;
  cursor: pointer;
}

.services-item :hover {
  color: #c7b299;
}

.services-item hr {
  width: 70px;
  margin-top: 28px;
  color: #f1ede9;
}

/****BROWSER-SECTION****/

.browser {
  height: 710px;
  background: #fbfaf8 url(../img/browser.png) no-repeat center bottom;
}

.browser-container {
  padding: 60px 0;
}

.browser-bottom-block {
  height: 146px;
  display: flex;
  align-items: center;
  background: url("../img/separate-1.png") no-repeat center top;
}

.browser-bottom-block-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.browser-bottom-block-container {
  color: #615855;
  line-height: 18px;
  font-size: 18px;
}

.browser-bottom-block-container h2 {
  color: white;
  font-size: 28px;
  font-family: "Raleway";
  font-weight: 400;
  margin-bottom: 12px;
}

/*****LATEST-PROJECTS-SECTION*****/

#latest-projects {
  display: flex;
  min-height: 1170px;
}

.latest-projects-container{
  padding: 80px 0;
  text-align: center;
}

.latest-projects-container > ul{
  display: flex;
  justify-content: center;
}

.menu_item {
  padding: 9px 25px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  margin-left: 12px;
  color: #8c8c8c;
  cursor: pointer;
  transition: 0.3s;
}

.menu_item:hover {
  background-color: #998575;
  color: white;
}

.active {
  background-color: #998575;
  color: white;
}

.latest-projects-grid {
  display: grid;
  padding-top: 40px;
  grid-template: 335px 335px / 370px 370px 370px;
  grid-gap: 30px;
}

.latest-projects-grid-item {
  background-color: black;
  overflow: hidden;
  position: relative;
  border: 1px solid #f7f7f7; 
}

.latest-projects-item-info {
  position: absolute;
  background-color: white;
  height: 90px;
  width: 100%;
  bottom: 0;
  text-align: left;
  line-height: 16px;
  padding-left: 30px;
  padding-top: 20px;
}

.latest-projects-grid-item .preview {
  opacity: 1.0;
  width: 100%;
  transition: 1s;
}

.latest-projects-grid-item h2 {
  color: #c7b299;
}

.latest-projects-grid-item:hover .latest-projects-item-info{
  background-color: #352f2d;
  color: #c7b299;
}

.latest-projects-grid-item:hover h2 {
  color: white;
}

.latest-projects-grid-item:hover .preview{
  opacity: 0.4;
  width: 105%;
}

.latest-projects-container button {
  margin-top: 40px;
}

.latest-projects-grid-item .icons {
  display: flex;
  position: absolute;
  top: 27%;
  left: 37%;
}

.latest-projects-grid-item .icons img {
  visibility: hidden;
  transition: 0.2s;
}

.latest-projects-grid-item .icons img:last-child {
  margin-left: 27px;
}

.latest-projects-grid-item:hover .icons img {
  visibility: visible;
}

/*****VIDEO-PRESENT-SECTION*****/

#video-presentation {
  min-height: 700px;
  display: flex;
  align-items: center;
  background: url("../img/video-preview.png") no-repeat center top;
}

.video-presentation-container {
  text-align: center;
  width: 550px;
  margin: 0 auto;
  color: white;
}

.video-presentation-container > h1 {
  color: white;
  font-size: 30px;
  font-weight: medium;
}

.video-presentation-container img {
  cursor: pointer;
}

/*****MOBILE-DEVICE-SECTION*****/

.mobile-devices-presentation {
  min-height: 690px;
}

.mobile-devices-presentation-container {
  display: flex;
  padding: 85px 25px 0 0;
  align-items: center;
}

.mobile-devices-presentation-text-block {
  font-size: 16px;
  margin-left: 25px;
}

.mobile-devices-presentation-text-block > ul {
  margin-top: 38px;
}

.mobile-devices-presentation-text-block li {
  margin-top: 8px;
  padding: 0 50px;
  background: url("../img/icon-nav.png") no-repeat left center;
}

/*****COUNTERS-SECTION*****/

.counters {
  width: 100%;
  min-height: 300px;
  background: url("../img/separate-2.png") no-repeat center top;
}

.counters-container {
  padding-top: 60px;
  color: #c7b299;
  text-transform: uppercase;
}

.counters-container h1 {
  font-family: "Montserrat";
  font-size: 48px;
  color: white;
  font-weight: 100;
}

.counters-container hr {
  width: 28px;
  margin-top: 26px ;
}

.counters-container > ul {
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counters-item {
  text-align: center;
  line-height: 10px;
}

/*****RECENT-POSTS******/

#recent-posts {
  min-height: 750px;
}

.recent-posts-container {
  padding-top: 80px;
}

.recent-posts-grid {
  display: grid;
  padding-top: 40px;
  grid-template: 390px / 370px 370px 370px;
  grid-gap: 30px;
}

.recent-posts-grid-item {
  position: relative;
  background-color: black;
  overflow: hidden;
  border: 1px solid #f7f7f7; 
}

.recent-posts-grid-item-date {
  position: absolute;
  width: 50px;
  height: 60px;
  left: 20px;
  top: 20px;
  text-align: center;
  background-color: #363636;
  border-radius: 3px;
}

.recent-posts-grid-item-date h2 {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: -12px;
}

.recent-posts-grid-item-date p {
  background-color: #242424;
  font-size: 12px;
  font-family: "Roboto" sans-serif;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.recent-posts-grid-item:hover .recent-posts-grid-item-date{
  background-color: #c7b199;
}

.recent-posts-grid-item:hover .recent-posts-grid-item-date p {
  background-color: #a48d71;
}

.preview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  opacity: 1;
  transition: 1s;
}

.recent-posts-grid-item .dots {
  position: absolute;
  bottom: 50%;
  left: 37%;
  display: flex;
  align-items: center;
  justify-items: center;
}

.recent-posts-grid-item .dots img {
  margin-left: 5px;
}

.recent-posts-grid-item-info {
  position: absolute;
  background-color: white;
  height: 155px;
  width: 99%;
  bottom: 0;
  text-align: left;
  line-height: 1.5;
  padding-left: 30px;
  padding-top: 15px;
}

.recent-posts-grid-item h2 {
  color: #555555;
}

.recent-posts-grid-item-info img{
  width: 6px;
  margin-left: 8px;
}

.recent-posts-grid-item:hover .recent-posts-grid-item-info{
  background-color: #352f2d;
  color: white;
}

.recent-posts-grid-item:hover h2 {
  color: #c7b299;
}
.recent-posts-grid-item:hover .preview {
  opacity: 0.4;
  width: 105%;
}

.posts-nav-arrow {
  display: flex;
  padding: 40px;
  justify-content: center;
}

.posts-nav-arrow .arrow:last-child {
  margin-left: 10px;
}

/*****PARTNERS-SECTION*****/

.partners {
  display: flex;
  align-items: center;
  height: 490px;
  background: grey url("../img/photo-footer.png") no-repeat center top;
}

.partners-container {
  display: flex;
  align-items: center;
  padding: 0 35px;
  justify-content: space-between;
}

/*****FOOTER-SECTION*****/

footer {
  height: 625px;
  background: #191919;
}

.footer-container {
  display: flex;
  padding-top: 80px;
  color: #555555;
  justify-content: space-between;
  font-weight: 800;
}

.footer-info-block {
  width: 270px;
}

.footer-info-block-item {
  color: #555555;
  transition: 1s;
  margin: 10px 0 20px 0;
}

.footer-info-block-item:hover {
  color: #c7b299;
}

.footer-info-block-item small {
  color:#363636;
  transition: 1s;
}

.footer-info-block-item >* {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-info-block-item:hover small{
  color: white;
}

.footer-info-block h2 {
  color: white;
  font-size: 24;
  font-family: Raleway;
  font-weight: bold;
}

.footer-info-block h3 {
  color: #d1d1d1;
  font-size: 14px;
}

.dribble-widget {
  display: grid;
  grid-template: 100px 100px /130px 130px;
  grid-gap: 10px;
}

.dribble-widget-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.dribble-widget-item img {
  position: absolute;
  align-items: center;
}

/******COPYRIGHT********/

.copyright {
  display: flex;
  align-items: center;
  height: 110px;
  background-color: #101010;
  margin-top: 80px;
}

.copyright-container {
  display: flex;
  justify-content: space-between;
}

.copyright-navigation {
  display: flex;
  opacity: 90%;
}

.copyright-navigation > li {
  margin-left: 20px;
  cursor: default;

}

.copyright-navigation > li:after {
  content: "|";
  position: absolute;
  margin-left: 10px;
}

.copyright-navigation > li:last-child:after {
  display: none;
}

.copyright-navigation > li:hover {
  color: #6c6155;
  cursor: pointer;
}