.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 1em 1em;
  list-style: none;
  li {
    border: solid 2px;
    text-align: center;
  }
}
