<div class='header'>
  <h4>All posts:</h4>
  <a routerLink='create'>
    <h4>Create post</h4>
  </a>
</div>
<div *ngIf="(posts$ | async)">
  <li *ngFor="let post of (posts$ | async)">
    <div class='post'>
      <p *ngIf="(usersPromise | async)">
        Author
        <!-- :<b>{{(usersPromise | async)[post.userId-1].username}}</b> -->
      </p>
      <div>
        <h4>{{post.title}}</h4>
      </div>
      <div>{{post.body}}</div>
    </div>
    <hr>
    <div class='post-menu'>
      <a (click)='editPostDetail(post.id)'>Edit</a>
      <a (click)='goToPostDetail(post.id)'>View</a>
      <a (click)='deletePost(post.id)'>Trash</a>
    </div>
  </li>
</div>
<div *ngIf="error$ | async as error">{{error | json}}</div>
<div class="loader" *ngIf="!(posts$ | async)">
  <h1>LOADING...</h1>
</div>
