.wrapper {
  max-width: 820px;
  margin: 0 auto;
  font-family: 'Montserrat';
  background-color: white;
  padding: 10px 30px 50px 30px;
  border: solid 2px #e3eaef;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 5px;
}
